{% extends "layouts/master.twig" %}

{% block content %}
        <section class="site-content__inner">

            <main class="site-content__main">
                <h2>Holiday in the Hills</h2>
                <p>Get-togethers with family & friends in Gum Tree Lodge to celebrate that special event. STAY LONGER AND SAVE SPECIALS. Can sleep up to 11 in five bedrooms (queen and single beds), function/dining area, kitchen, cooking facilities, private courtyard, air con, offstreet parking. The whole complex is available for exclusive use.</p>

                <figure>
                    <img src="images/gallery/correa.jpg" alt="photo of Correa unit">
                </figure>
                <h2>Tariffs</h2>
                <p>(Rates are per night, Linen and GST is included. 3 Night minimum Easter and Christmas, 2 nights SA long weekends)</p>
                <p>
                    <div class="pair">
                        <div class="price-card">
                            {# <h3 class="price-card__title">Correa (2 person)</h3>
                            <p>
                                <span class="price-card__price-one--label">1 night</span>
                                <span class="price-card__price-one">$120 **</span>
                            </p>
                            <p>
                                <span class="price-card__price-six--label">6 nights</span>
                                <span class="price-card__price-six">$600</span>
                            </p> #}
                            <table class="price-table1">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3>Correa (2 person)</h3> $120 **
                                        </td>
                                        <td>
                                            <h3>6 nights</h3>
                                            $600
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <figure class="floorplan">
                            <img src="images/correa.svg" alt="Correa (2 bedrooms)">
                            <figcaption>Correa (2 bdrm) *</figcaption>
                        </figure>
                    </div>

                    <div class="pair">
                        <div class="price-card">
                            <table class="price-table1">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3>Banksia (4 person) </h3> $150
                                        </td>
                                        <td>
                                        <h3>6 nights</h3>
                                            $600
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <figure class="floorplan">
                            <img src="images/banksia.svg" alt="Banksia (2 bedrooms)">
                            <figcaption>Banksia (2 bdrm) *</figcaption>
                        </figure>
                    </div>

                    <div class="pair">
                        <div class="price-card">
                            <table class="price-table1">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3>Acacia (4 person) </h3> $150
                                        </td>
                                        <td>
                                        <h3>6 nights</h3>
                                            $600
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <figure class="floorplan">
                            <img src="images/accacia.svg" alt="Accacia (2 bedrooms)">
                            <figcaption>Accacia (2 bdrm) *</figcaption>
                        </figure>
                    </div>


                    {# <table class="price-table1">
                        <tbody>
                            <tr>
                                <td>
                                    <h3>Correa (2 person)</h3> $120 **
                                </td>
                                <td>
                                    <h3>6 nights</h3>
                                    $600
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h3>Banksia (4 person) </h3> $150
                                </td>
                                <td>
                                <h3>6 nights</h3>
                                    $600
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Acacia (4 person) </h3> $150
                                </td>
                                <td>
                                <h3>6 nights</h3>
                                    $600
                                </td>
                            </tr>
                        </tbody>
                    </table> #}



                </p>
                <p>
                    <table class="price-table2">
                        <tbody>
                            <tr>
                                <td>
                                    <h3>Gum Tree Lodge</h3> </td>
                                <td>$50 per person (minimum $250 unit price per night)</td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Gum Tree Lodge</h3>
                                </td>
                                <td>
                                    <h3>6 nights</h3>
                                    $1500
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    for 6 night stay Gum Tree Lodge has 5 bedrooms and function room.
                </p>

                <ul class="notes">
                    <li>Extras and extensions negotiable</li>
                    <li>For variations, options, online booking difficulties or entry code <a href="mailto:welsdave@gmail.com">contact us</a>. Office is off-site.</li>
                    <li>Stay longer, discounts for additional nights.</li>
                    <li class="stared">** $15 extra pp</li>
                    <li class="stared">* Illustrations as a rough guide. Not to scale or proportion.</li>
                </ul>
                {# <p>Extras and extensions negotiable<br>
                    For variations, options, online booking difficulties or entry code <a href="mailto:welsdave@gmail.com">contact us</a>. Office is off-site.<br>
                    Stay longer, discounts for additional nights.
                </p>
                <p>** $15 extra pp</p>
                <p>* Illustrations as a rough guide. Not to scale or proportion.</p> #}

                <h2>Testimonials</h2>
                <blockquote>
                    <p class="quote__text">Great value for longer stays with plenty to see and do.</p>
                    <footer class="quote__person">Jason</footer>
                </blockquote>

                <blockquote>
                    <p class="quote__text">Great bands at the Three Brothers an easy walk away.</p>
                    <footer class="quote__person">Ann</footer>
                </blockquote>

                <blockquote>
                    <p class="quote__text">Great base to explore the Hills and Fleurieu areas.</p>
                    <footer class="quote__person">Sonia</footer>
                </blockquote>

                <blockquote>
                    <p class="quote__text">Good place for get-to-gether with family and friends especially post Covid.</p>
                    <footer class="quote__person">Alicia</footer>
                </blockquote>

            </main>


            <aside class="site-content__aside">
                <h2>Local Attractions</h2>
                <p>
                    <a href="http://www.battunga.org.au" target="_blank">www.battunga.org.au</a>
                </p>
                <p>Close to wineries, friendly heritage pubs, scenic drives, walks, rides &amp; cycles, arts &amp; antiques, markets, Crystal Lake sculpture and ceramics park. Prospect Hill Dairy &amp; Pioneer Museum, Kuitpo Forest, Onkaparinga Gorge, wildflowers, kookaburras &amp; kangaroos, Jupiter Creek &amp; Chapel Hill historic goldfields, Battunga-Country villages, wedding venues and the sounds and sights of a calendar of Special Events.
                </p>
                <p>
                Close to Adelaide and only minutes to Hahndorf, Mount Barker, Strathalbyn and McLaren Vale.
                </p>
                <p><a href="https://www.au.v3travel.com/CABS4/PagesMob/Availability.aspx?exl_dn=aaa_mywebsite&exl_psn=Adelaide_Hills_Getaway&exl_grp=acc"><img src="images/BookNow.gif" alt="Book Online" class="book-image"></a>
                </p>
                {# http://www.au.v3travel.com/vcubed/page/mywebsite/adelaide_hills_getaway.home #}
            </aside>

        </section><!-- End .site-content__inner -->
{% endblock %}
