{% extends "layouts/master.twig" %}

{% block content %}
        <section class="site-content__inner">

            <main class="site-content__main">
                <h2>Holiday in the Hills</h2>
                <p>Ideal getaway to relax, wine, dine &amp; explore the Adelaide Hills and Fleurieu Peninsula. or</p>
                <p>Get-togethers with family & friends in Gum Tree Lodge to celebrate that special event. Private rooms, queensize beds and single beds, function/dining area, kitchen, cooking facilities, private courtyard, BBQ, air con, Wood fire or conventional heating, offstreet parking. The whole complex is available for exclusive use.</p>

                <figure>
                    <img src="images/gallery/studio-IMG_1694.jpg" alt="photo">
                </figure>
                <h2>Tariffs</h2>
                <p>(Rates are per night, Linen and GST is included. 3 Night minimum Easter and Christmas, 2 nights SA long weekends)</p>
                <p>
                    <table class="price-table1">
                        <tbody>
                            <tr>
                                <td>
                                    <h3>Correa (2 person)</h3> $120 **
                                </td>
                                <td>
                                    <h3>6 nights</h3>
                                    $600
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h3>Banksia (4 person) </h3> $150
                                </td>
                                <td>
                                <h3>6 nights</h3>
                                    $600
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Acacia (4 person) </h3> $150
                                </td>
                                <td>
                                <h3>6 nights</h3>
                                    $600
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <figure class="floorplan">
                        <img src="images/correa.svg" alt="Correa (Unit 3) (2 bedrooms)">
                        <figcaption>Correa (2 bdrm) *</figcaption>
                    </figure>
                </p>
                <p>
                    <table class="price-table2">
                        <tbody>
                            <tr>
                                <td>
                                    <h3>Gum Tree Lodge</h3> </td>
                                <td>$50 per person (minimum $250 unit price per night)</td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Gum Tree Lodge</h3>
                                </td>
                                <td>
                                    <h3>6 nights</h3>
                                    $1500
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p>

                <p>Extras and extensions negotiable<br>
                    For variations, options, online booking difficulties or entry code <a href="mailto:welsdave@gmail.com">contact us</a>. Office is off-site.<br>
                    Stay longer, discounts for additional nights.
                </p>
                <p>** $15 extra pp</p>
                <p>* Illustrations as a rough guide. Not to scale or proportion.</p>
            </main>


            <aside class="site-content__aside">
                <h2>Local Attractions</h2>
                <p>
                    <a href="http://www.battunga.org.au" target="_blank">www.battunga.org.au</a>
                </p>
                <p>Close to wineries,
                friendly heritage pubs, scenic drives, walks, rides &amp; cycles, arts &amp; antiques, markets, Prospect Hill Dairy &amp; Pioneer Museum, Kuitpo Forest, Onkaparinga Gorge, wildflowers, kookaburras &amp; kangaroos, Jupiter Creek &amp; Chapel Hill historic goldfields, Battunga-Country villages, wedding venues and the sounds and sights of a calendar of Special Events.
                </p>
                <p>
                Close to Adelaide and only minutes to Hahndorf, Mount Barker, Strathalbyn and McLaren Vale.
                </p>
                <p><a href="https://www.au.v3travel.com/CABS4/PagesMob/Availability.aspx?exl_dn=aaa_mywebsite&exl_psn=Adelaide_Hills_Getaway&exl_grp=acc"><img src="images/BookNow.gif" alt="Book Online" class="book-image"></a>
                </p>
                {# http://www.au.v3travel.com/vcubed/page/mywebsite/adelaide_hills_getaway.home #}
            </aside>

        </section><!-- End .site-content__inner -->
{% endblock %}
