{% extends "layouts/master.twig" %}

{% block content %}
        <section class="site-content__inner">

            <main class="site-content__main">
                <h2>Holiday in the Hills</h2>
                <p>Ideal getaway to relax, wine, dine &amp; explore the Adelaide Hills and Fleurieu Peninsula. or</p>
                <p>Get-togethers with family & friends in Gum Tree Lodge to celebrate that special event. Private rooms, queensize beds and single beds, function/dining area, kitchen, cooking facilities, private courtyard, BBQ, air con, Wood fire or conventional heating, offstreet parking. The whole complex is available for exclusive use.</p>
                <h2>Tariffs</h2>
                <p>(Rates are per night & 7 nights, Linen and GST is included. 3 Night minimum Easter and Christmas, 2 nights SA long weekends)</p>
                <p>
                    <table class="price-table1">
                        <tbody>
                            <tr>
                                <td>
                                    <h3>Studio (2 person)</h3> $120
                                </td>
                                <td>
                                    <h3> 7nights</h3> $670
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Two Bedroom (4 person) </h3> $140
                                </td>
                                <td>
                                    <h3> 7nights</h3> $810 </td>
                            </tr>
                        </tbody>
                    </table>
                </p>
                <p>
                    <table class="price-table2">
                        <tbody>
                            <tr>
                                <td>
                                    <h3>Gum Tree Lodge (x6)</h3> $45 per person (minimum $250 unit price per night)</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Gum Tree Lodge (x10*)</h3> $450 (5bdrm &amp; function rm)</td>
                                <td>
                                    <h3>7nights</h3> $2100 </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Whole complex exclusive (x22)</h3> $920 ($42pp)
                                    <br> x2nights ($40pp)</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </p>

                <p>* Extras and extensions negotiable<br>
                    For variations, options, online booking difficulties or entry code <a href="mailto:welsdave@gmail.com">contact us</a>. Office is off-site.
                </p>
            </main>


            <aside class="site-content__aside">
                <h2>Local Attractions</h2>
                <p>
                    <a href="http://www.battunga.org.au" target="_blank">www.battunga.org.au</a>
                </p>
                <p>Close to wineries,
                friendly heritage pubs, scenic drives, walks, rides &amp; cycles, arts &amp; antiques, markets, Prospect Hill Dairy &amp; Pioneer Museum, Kuitpo Forest, Onkaparinga Gorge, wildflowers, kookaburras &amp; kangaroos, Jupiter Creek &amp; Chapel Hill historic goldfields, Battunga-Country villages, wedding venues and the sounds and sights of a calendar of Special Events.
                </p>
                <p>
                Close to Adelaide and only minutes to Hahndorf, Mount Barker, Strathalbyn and McLaren Vale.
                </p>
                <p><a href="http://www.au.v3travel.com/vcubed/page/mywebsite/adelaide_hills_getaway.home"><img src="images/BookNow.gif" alt="Book Online" class="book-image"></a>
                </p>
            </aside>

        </section><!-- End .site-content__inner -->
{% endblock %}
