{% extends "layouts/master.twig" %}
{% set menu = photos %}

{% block content %}
	<section class="site-content__inner">

		<main class="site-content__main">

            <h2>Photos</h2>
            <p class="imgspace">
                <a href="images/gallery/DSCF2973.jpg"><img src="images/gallery/sml_DSCF2973.jpg" alt="bike in front of fields" width="200" height="139"></a>
                <a href="images/gallery/DSCF3285.jpg"><img src="images/gallery/sml_DSCF3285.jpg" alt="round hay bales" width="104" height="139"></a>
                <a href="images/gallery/DSCF3254.jpg"><img src="images/gallery/sml_DSCF3254.jpg" alt="horses" width="185" height="139"></a>
                <a href="images/gallery/DSCF4092.jpg"><img src="images/gallery/sml_DSCF4092.jpg" alt="forrest" width="104" height="139"></a>
                <a href="images/gallery/DSCF3329.jpg"><img src="images/gallery/sml_DSCF3329.jpg" alt="tour down under" width="200" height="138"></a>
                <a href="images/gallery/DSCF4459.jpg"><img src="images/gallery/sml_DSCF4459.jpg" alt="Gum Tree Lodge kitchen table" width="185" height="139"></a>
                <a href="images/gallery/DSCF4412.jpg"><img src="images/gallery/sml_DSCF4412.jpg" alt="vineyards" width="200" height="122"></a>
                {# <a href="images/gallery/studio-IMG_1694.jpg"><img src="images/gallery/sml_studio-IMG_1694.jpg" alt="Studio One" width="209" height="139"></a> #}
                {# <a href="images/gallery/DSCF4466.jpg"><img src="images/gallery/sml_DSCF4466.jpg" alt="an upstairs bedroom" width="185" height="139"></a> #}
                <a href="images/gallery/DSCF4437.jpg"><img src="images/gallery/sml_DSCF4437.jpg" alt="Adelaide Hills Getaway units" width="179" height="139"></a>
                {# <a href="images/gallery/DSCF4455.jpg"><img src="images/gallery/sml_DSCF4455.jpg" alt="Gum Tree Lodge lounge" width="185" height="139"></a> #}
                {# <a href="images/gallery/DSCF4477.jpg"><img src="images/gallery/sml_DSCF4477.jpg" alt="conference room" width="193" height="139"></a> #}
                <a href="images/gallery/DSCF4472.jpg"><img src="images/gallery/sml_DSCF4472.jpg" alt="back gate" width="104" height="139"></a>
                <a href="images/gallery/banksia.jpg"><img src="images/gallery/sml_banksia.jpg" alt="Banksia unit" width="180" height="139"></a>
                <a href="images/gallery/acacia.jpg"><img src="images/gallery/acacia.jpg" alt="Acacia unit" width="190" height="139"></a>
            </p>

            <p class="imgspace">
                <a href="http://www.au.v3travel.com/vcubed/page/mywebsite/adelaide_hills_getaway.home"><img src="images/BookNow.gif" width="112" height="51" alt="Book Online"></a>
            </p>

		</main>

	</section>
{% endblock %}
