{% extends "layouts/master.twig" %}
{% set menu = photos %}

{% block head %}
    <title>Adelaide Hills Getaway Accommodation | photos of rooms and nearby region</title>
    <meta name="Description" content="Adelaide Hills Getaway Accommodation and surrounds photos. Stay in a beautiful small town centrally located for you to easily explore and enjoy the Adelaide hills region.">
    <meta name="keywords" content="Adelaide Hills Getaway photos">
{% endblock %}

{% block content %}
	<section class="site-content__inner">

		<main class="site-content__main">

            <h2>Photos</h2>
            <p class="imgspace">
                <a href="images/gallery/DSCF2973.jpg"><img src="images/gallery/sml_DSCF2973.jpg" alt="bike in front of Flaxley fields" width="200" height="139"></a>
                <a href="images/gallery/DSCF3285.jpg"><img src="images/gallery/sml_DSCF3285.jpg" alt="round hay bales, Flaxley" width="104" height="139"></a>
                <a href="images/gallery/DSCF3254.jpg"><img src="images/gallery/sml_DSCF3254.jpg" alt="horses in the hills" width="185" height="139"></a>
                <a href="images/gallery/DSCF4092.jpg"><img src="images/gallery/sml_DSCF4092.jpg" alt="Chookarloo walk trail, Kuitpo forest" width="104" height="139"></a>
                <a href="images/gallery/DSCF3329.jpg"><img src="images/gallery/sml_DSCF3329.jpg" alt="cycling peloton of the Tour Down Under passes through local towns during the event" width="200" height="138"></a>
                <a href="images/gallery/DSCF4459.jpg"><img src="images/gallery/sml_DSCF4459.jpg" alt="upstairs Gum Tree Lodge kitchen table" width="185" height="139"></a>
                <a href="images/gallery/DSCF4412.jpg"><img src="images/gallery/sml_DSCF4412.jpg" alt="local hills vineyards a short drive or cycle away" width="200" height="122"></a>

                <a href="images/gallery/DSCF4437.jpg"><img src="images/gallery/sml_DSCF4437.jpg" alt="Adelaide Hills Getaway units exterior" width="179" height="139"></a>

                <a href="images/gallery/DSCF4472.jpg"><img src="images/gallery/sml_DSCF4472.jpg" alt="back gate archway" width="104" height="139"></a>
                <a href="images/gallery/banksia.jpg"><img src="images/gallery/sml_banksia.jpg" alt="a bedroom in the Banksia unit" width="180" height="139"></a>
                <a href="images/gallery/acacia.jpg"><img src="images/gallery/acacia.jpg" alt="living area in the Acacia unit" width="190" height="139"></a>
            </p>

            <p class="imgspace">
                <a href="http://www.au.v3travel.com/vcubed/page/mywebsite/adelaide_hills_getaway.home"><img src="images/BookNow.gif" width="112" height="51" alt="Book Online here"></a>
            </p>

		</main>

	</section>
{% endblock %}
