<footer class="site-footer">

    <address class="footer-content  h-card">
        {# <h2>Contact us</h2> #}
        <div class="site-footer__main">
            <div class="site-footer__main--image">
                <img src="images/gallery/DSCF4412.jpg" alt="Self contained studio, 2, 4 or 5 bedrooms. 23-25 Venables Street, Macclesfield, South Australia. Ph:041 983 8742" class="banner-image" data-srcset="images/gallery/DSCF4412.jpg 1x, images/gallery/DSCF4412.jpg 2x">
            </div>

        </div>
        <div class="site-footer__aside contact" id="contact">
            <p class="contact__book">
                <a href="https://www.au.v3travel.com/CABS4/PagesMob/Availability.aspx?exl_dn=aaa_mywebsite&exl_psn=Adelaide_Hills_Getaway&exl_grp=acc"><span>Book now</span></a>
            </p>
            <p class="contact__email">
                Email <a class="" href="mailto:welsdave@gmail.com">welsdave@gmail.com</a>
            </p>
            <p class="contact__phone">
                Phone<br>
                <a class="p-tel" href="tel:+61 8 8388 9295">+61 8 (8388 9295)</a><br>
                <a href="tel:041 983 8742">041 983 8742</a>
            </p>
            <p class="contact__address">
                Directions<br>
                <a class="footer__item" href="https://www.google.com/maps/dir/?api=1&destination=23-25+Venables+Street,+Macclesfield+SA"><span class="p-street-address">23-25 Venables Street</span>, <span class="p-locality">Macclesfield</span><br>
                <span class="p-region">South Australia</span></a>
            </p>
        </div>
    </address>

    <div class="copyright">
        <p class="small">Copyright © <a href="mailto:nickwelsh@hotmail.com?subject=web%20developer%20needed">Nicholas
        Welsh Graphic Design</a>. <a href="http://users.tpg.com.au/welsh2/" target="_blank" rel="noopener">www</a>
        </p>
    </div>

</footer>