<header class="site-header">

    <div class="site-header__container   slide">


        <div class="site-header__logo-wrap   slide__back">
            <a class="site-header__item  site-header__item--logo" href="index.html">
                <img src="images/ahg-logo7b.svg" alt="Adelaide Hills Getaway Accommodation, Macclesfield village" class="image">
                {# <img src="images/logo2012.gif" alt="Adelaide Hills Getaway Accommodation, Macclesfield village" class="image" data-srcset="images/logo2012.gif 1x, images/ahg-logo7b.svg 2x" srcset="images/logo2012.gif 1x, images/ahg-logo7b.svg 2x"> #}
            </a>
        </div>

        {# <div class="site-header__title-first   slide__front">
            <h1>Adelaide Hills <wbr>Getaway</h1>
        </div> #}


        <nav class="site-header__item  site-navigation" role="navigation">

            <ul class="site-navigation__list">
                <li class="site-navigation__item "><a class="site-navigation__link" href="index.html"><span>Home</span></a></li>
                <li class="site-navigation__item "><a class="site-navigation__link" href="https://www.au.v3travel.com/CABS4/PagesMob/Availability.aspx?exl_dn=aaa_mywebsite&exl_psn=Adelaide_Hills_Getaway&exl_grp=acc"><span>Book now</span></a></li>
                <li class="site-navigation__item "><a class="site-navigation__link" href="mailto:welsdave@gmail.com"><span>Contact us</span></a></li>
                <li class="site-navigation__item "><a class="site-navigation__link" href="photos.html"><span>Photos</span></a></li>
            </ul>

        </nav><!-- /.site-navigation -->

    </div><!-- /.site-header__container -->

</header>
