<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PGN3KJ6');</script>
    <!-- End Google Tag Manager -->

    {% block head %}
        <title>Adelaide Hills Getaway website</title>
        <meta name="Description" content=" ">
    {% endblock %}

    <!-- Open Graph metadata -->
    <meta property="og:title" content="Adealide Hills Getaway Accommodation">
    <meta property="og:description" content="Adelaide Hills Getaway Accommodation overnight & holiday accommodation macclesfield village self-contained, studio, two, four, five bedroom units & function facilities on Venables Street, Macclesfield near Echunga, Mt. Barker, Meadows, Prospect Hill, Paris Creek, Strathalbyn. overnight weekly stay lodge bed & breakfast">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.hillsgetaway.com.au">
    <meta property="og:image" content="https://www.hillsgetaway.com.au/images/gallery/DSCF4437.jpg">
    <meta property="og:site_name" content="Adealide Hills Getaway Accommodation" />
    <meta property="og:image:alt" content="Adealide Hills Getaway Accommodation exterior" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Adelaide Hills Getaway Accommodation overnight & holiday accommodation macclesfield village self-contained, studio, two, four, five bedroom units & function facilities on Venables Street, Macclesfield near Echunga, Mt. Barker, Meadows, Prospect Hill, Paris Creek, Strathalbyn. overnight weekly stay lodge bed & breakfast." />
    <meta name="twitter:title" content="Adealide Hills Getaway Accommodation in the hills" />
    <meta name="twitter:image" content="https://www.hillsgetaway.com.au/images/gallery/DSCF4437.jpg">
    <!-- End Open Graph metadata -->




    <!-- Prefetch -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//www.au.v3travel.com">
    <!-- End prefetch -->

    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="favicon.ico" type="image/x-icon" rel="icon">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#F39200">


    {# <!-- Stylesheets --> #}
        {# <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="main-style.css"> #}
        {# <!-- <link rel="stylesheet" href="sitestyle.css"> --> #}
    {# <!-- End stylesheets -->  #}


    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">

    <!-- schema microdata -->
    <script type='application/ld+json'>
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "@id": "#website",
        "url": "https://www.hillsgetaway.com.au/",
        "name": "Adelaide Hills Getaway Accommodation"
    }
    </script>
    <!-- end schema microdata -->

    <script type='application/ld+json'>
    {
        "@context": "http://www.schema.org",
        "@type": "LodgingBusiness",
        "name": "Adelaide Hills Getaway Accommodation",
        "url": "http://hillsgetaway.com.au/",
        "logo": "/images/ahg-logo7b.svg",
        "image": "http://hillsgetaway.com.au/images/gallery/DSCF4437.jpg",
        "description": "Adelaide Hills Getaway Accommodation offers a range of options for one or two persons through to large groups of twenty plus. Accommodation and facilities for functions. Located in the stunning Adelaide hills, close to Adelaide and only minutes to Hahndorf, Mount Barker, Strathalbyn and McLaren Vale.",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "23-25 Venables Street",
            "addressLocality": "Macclesfield",
            "addressRegion": "South Australia",
            "postalCode": "5153",
            "addressCountry": "Australia"
        },
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": "-35.0351986",
            "longitude": "138.5982568"
        },
        "openingHours": "Mo, Tu, We, Th, Fr, Sa, Su -",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+(61 8) 8388 9295",
            "contactType": "general"
        },
        "priceRange": "$"
    }
    </script>

</head>


<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGN3KJ6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include "header.twig" %}


{# <div class="site-hero">

    <div class="site-content__parallax">
        <div class="parallax__group   slide-one">
            <div class="slide-one__near">
                near
            </div>
            <div class="slide-one__base">
                base
            </div>
        </div>
    </div>

</div> #}


<div class="site-content">
    {% block content %}
    {% endblock %}
</div><!-- End .site-content -->



{% include "footer.twig" %}


</body>
</html>
